<div class="container">
  <div class="about" id="about">
    <h2>About Us</h2>
    <p>Discover our story in providing medical services.</p>
    <div class="row company-info">
      <h3>Our Story</h3>
      <p>Two passionate computer science graduates, united their expertise to create a revolutionary brain tumor detecting website. Combining advanced algorithms with medical research, their platform swiftly analyzes MRI scans for early detection, offering hope and timely intervention. Despite initial skepticism, their dedication and innovation gained widespread acclaim, transforming the landscape of early diagnosis and treatment.</p>
    </div>
    <div class="row mission-vision">
      <h3>Our Mission</h3>
      <p>Our Mission is to provide a user-friendly platform for early detection of brain tumors through advanced algorithms and medical research. By offering swift analysis of <abbr title="Magnetic resonance imaging">MRI</abbr> scans, the website aims to facilitate timely intervention, ultimately saving lives and transforming the landscape of brain tumor diagnosis and treatment.</p>
      <h3>Our Vision</h3>
      <p>Our Vision is to revolutionize brain tumor detection by leveraging cutting-edge technology and medical expertise. It aspires to become the go-to platform for individuals and healthcare professionals seeking accurate and timely diagnosis, ultimately improving patient outcomes and quality of life. Through continuous innovation and collaboration, the website aims to contribute significantly to the advancement of brain tumor research and treatment globally.</p>
    </div>
    <div class="row team">
      <h3>Our Team</h3>
      <ul>
        <li ><span>Infant Raj</span> - Founder</li>
        <li ><span>Visali</span>- Co-Founder</li>
      </ul>
    </div>
  </div>
</div>
