<div class="container">
  <div class="content">
    <div class="report">
      <app-title title="Forgot Password" position="left"></app-title>
    <div  class="report-form" >
      <div class="input-conte" *ngIf="isemail">
        <label class="main-lable" for="name" >Email</label>
        <input  class="input"  [(ngModel)]="Email" type="email" id="name" required >
        <div class="submit">
          <button class="submit-button" (click)="send_otp()">Send Otp</button>
        </div>
      </div>
      <div class="input-conte" *ngIf="isotp">
        <p>It send to the email</p>
        <label class="main-lable" for="dob">OTP</label>
        <input  class="input" type="text"  [ngClass]="validateotp?'error':''"  [(ngModel)]="otp">
        <div class="submit">
          <button class="submit-button" (click)="verify()">Verify Otp</button>
        </div>

      </div>
      <div *ngIf="ispassword">
        <div class="input-conte">
          <label class="main-lable" for="name">Password</label>
          <input  class="input" type="text" id="name"[ngClass]="validatepassword?'error':''" [(ngModel)]="password">
        </div>
        <div class="input-conte">
          <label class="main-lable" for="name">conform Password</label>
        <input  class="input" type="text" id="name"[ngClass]="validatepassword?'error':''" [(ngModel)]="confrompassword">
        <div class="submit">
          <button class="submit-button" (click)="changepassword()">Reset password</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  </div>

</div>


























